<?xml version="1.0" encoding="utf-8"?>
<!-- 这里配置sharedUserId的作用，是为了告诉宿主程序，这个插件需要依赖宿主程序的class和资源
如果不配置这个参数，表示这个插件是一个独立插件，即本身可以独立安装运行 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plugintest"
    android:versionCode="1"
    android:versionName="1.0.1"
    android:sharedUserId="com.example.pluginmain" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />

 	<application 
 	    android:name="com.example.plugintest.PluginTestApplication"
        android:label="@string/descpt"
        android:theme="@style/PluginTheme2">
        
        <!-- for fragment -->
        <meta-data android:name="fragment_id_fragmentTest1" android:value="com.example.plugintest.fragment.PluginSpecFragment"/>
        <!-- for fragment -->
        <meta-data android:name="fragment_id_fragmentTest2" android:value="com.example.plugintest.fragment.PluginNormalFragment"/>

        <meta-data android:name="test_meta_1" android:value="123"/>

        <activity
            android:name="com.example.plugintest.activity.PluginTestActivity"
            android:theme="@style/PluginTheme3"
            android:screenOrientation="landscape">
            <intent-filter>
                <action
                    android:name="test.abc" />

                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.plugintest.activity.PluginFragmentTestActivity"
            android:windowSoftInputMode="stateAlwaysVisible">
            <intent-filter>
                <action
                    android:name="test.def" />

                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.plugintest.activity.PluginNotInManifestActivity"
            android:theme="@style/PluginTheme"
            android:launchMode="singleTop"
            android:immersive="true"
            android:uiOptions="splitActionBarWhenNarrow"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action
                    android:name="test.xyz1" />

                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="testscheme" android:host="testhost"/>
            </intent-filter>
            
        </activity>
        
        <activity
            android:name="com.example.plugintest.activity.PluginForOppoAndVivoActivity" >
            <intent-filter>
                <action
                    android:name="test.ijk" />

                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.plugintest.activity.PluginTestOpenPluginActivity" >
            <intent-filter>
                <action
                    android:name="test.zxc" />

                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.plugintest.activity.PluginWebViewActivity" >
            <intent-filter>
                <action
                    android:name="test.webXX" />

                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.plugintest.activity.PluginForDialogActivity" >
            <intent-filter>
                <action
                    android:name="test.dialogXX" />

                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.plugintest.activity.PluginServiceActivity" />

        <activity
            android:name="com.example.plugintest.activity.PluginSingleTaskActivity"
            android:launchMode="singleTask">
        </activity>

        <service android:name="com.example.plugintest.service.PluginTestService">
            <intent-filter>
                <action
                    android:name="test.lmn" />

                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service android:name="com.example.plugintest.service.PluginTestService2">
            <intent-filter>
                <action
                    android:name="test.lmn2" />

                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service android:name=".service.PluginServiceOne" />
        <service android:name=".service.PluginServiceTwo" />
        <service android:name=".service.PluginServiceThree" />
        <service android:name=".service.PluginServiceBindOne" />
        <service android:name=".service.PluginServiceBindTwo" />
        <service android:name=".service.PluginServiceProcessBindOne"
            android:process=":remote"/>
        
        <receiver android:name="com.example.plugintest.receiver.PluginTestReceiver" >
            <intent-filter>
                <action
                    android:name="test.rst" />
                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.example.plugintest.receiver.PluginTestReceiver2"
            android:process="">
            <intent-filter>
                <action
                    android:name="test.rst2" />
                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <provider
            android:exported="true"
            android:authorities="com.example.plugintest.provider"
            android:name="com.example.plugintest.provider.PluginContentProvider"/>
    </application>

</manifest>
