<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plugintest"
    android:versionCode="1"
    android:versionName="1.0.1"
    android:sharedUserId="com.example.pluginmain" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

 	<application 
 	    android:name="com.example.plugintest.PluginTestApplication"
 	    android:label="包含UI的插件demo, 代表5中开发方式，UIclassName要求是唯一的，宿主程序需要根据和className来进行查找">
        
 	    <!-- for fragment -->
        <meta-data android:name="fragmentTest1" android:value="com.example.plugintest.fragment.PluginNormalFragment"/>
        
        <!-- for fragment -->
        <meta-data android:name="fragmentTest2" android:value="com.example.plugintest.fragment.PluginSpecFragment"/>
        
        <!-- for proxy test -->
        <activity
            android:name="com.example.plugintest.activity.PluginTestActivity" >
            <intent-filter>
                <action
                    android:name="test.abc" />

                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- for proxy test -->
        <activity
            android:name="com.example.plugintest.activity.PluginFragmentTestActivity" >
            <intent-filter>
                <action
                    android:name="test.abc" />

                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- for instrumentation -->
        <activity
            android:name="com.example.plugintest.activity.PluginNotInManifestActivity" >
            <intent-filter>
                <action
                    android:name="test.xyz1" />

                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="testscheme" android:host="testhost"/>
            </intent-filter>
            
        </activity>
        
        <!-- for instrumentation -->
        <activity
            android:name="com.example.plugintest.activity.PluginForOppoAndVivoActivity" >
            <intent-filter>
                <action
                    android:name="test.ijk" />

                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- for classLoader -->
        <service android:name="com.example.plugintest.service.PluginTestService">
            <intent-filter>
                <action
                    android:name="test.lmn" />

                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        
        
        <receiver android:name="com.example.plugintest.receiver.PluginTestReceiver" >
            <intent-filter>
                <action
                    android:name="test.rst" />

                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </receiver>
        
    </application>

</manifest>
