<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pluginmain"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission  android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission  android:name="android.permission.INTERNET"/>
    
    <application
        android:name="com.plugin.core.PluginApplication"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/ShareTheme" >
        
        <!-- plugin Begin -->
        <activity
            android:name="com.plugin.core.ui.PluginNormalFragmentActivity"
            android:exported="true" >
        </activity>
        
        <activity
            android:name="com.plugin.core.ui.PluginSpecFragmentActivity"
            android:exported="true" >
        </activity>
        
        <activity
            android:name="com.plugin.core.ui.PluginProxyActivity"
            android:exported="true" >
        </activity>
        
        <activity
            android:name="com.plugin.core.ui.stub.PluginStubActivity"
            android:exported="true" >
        </activity>
        
        <service android:name="com.plugin.core.ui.stub.PluginStubService">
        </service>
        
        <receiver android:name="com.plugin.core.ui.stub.PluginStubReceiver">
        </receiver>
        <!-- plugin End -->
        
        <activity
            android:name="com.example.pluginmain.PluginListActivity" >
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.pluginmain.PluginDetailActivity" >
        </activity>
        
        <receiver
            android:name="com.example.pluginmain.PluginDebugHelper" >
            <intent-filter>
                <action
                    android:name="android.intent.action.PACKAGE_ADDED" />
                <action
                    android:name="android.intent.action.PACKAGE_REPLACED" />
                <action
                    android:name="android.intent.action.PACKAGE_RESTARTED" />

                <data
                    android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>